*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
}

.item{
    float: left;
    margin: 0.5em;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.item-img{
    height: 400px;
}

.main-img{
    display: block;
}

.hover-img{
   display: none;
}

.item:hover .hover-img{
    display: block;
}

.item:hover .main-img{
    display: none;
}

.img-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.fav{
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
}

.tags{
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    color: white;
    font-size: 10px;
}

.disc{
    background-color: rgb(255, 87, 58);
    padding: 5px;
}

.sost{
    background-color: rgb(59, 148, 0);
    padding: 5px;
}
