*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
}

.item{
    float: left;
    margin: 0.5em;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.item-img{
    height: 400px;
}

.main-img{
    display: block;
}

.hover-img{
   display: none;
}

.item:hover .hover-img{
    display: block;
}

.item:hover .main-img{
    display: none;
}

.img-box{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.fav{
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
}

.tags{
    position: absolute;
    bottom: 20px;
}

.disc, .sost{
    padding: 5px;
    font-weight: bold;
    color: white;
    font-size: 0.7rem;
}

.disc{
    background-color: rgb(255, 87, 58);
}

.sost{
    background-color: rgb(59, 148, 0);
}

.item-brand{
    font-size: 0.7rem;
    opacity: 0.6;
}

.item-name{
    font-size: 0.7rem;
    text-transform: uppercase;
}

.item-price{
    height: auto;
    line-height: 0.7rem;
}
.disc-price, .price{
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.disc-price{
    color: red;
    font-weight: 600;
    margin-right: 0.5rem;
}

.price{
    text-decoration:line-through;
}