*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
}

html{
    font-size: 1.5rem;
}

body{
    font-size: 0;
}

main:after, main:before{
    content: " ";
    clear: both;
    display: block;
}
.item{
    float: left;
    margin: 0.5rem;
    width: calc(100% / 3 - 1rem);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.item-img{
    height: 100%;
}

.main-img{
    display: block;
    width: 100%;
}

.hover-img{
   display: none;
   width: 100%;
}

.item:hover .hover-img{
    display: block;
}

.item:hover .main-img{
    display: none;
}

.img-box{
    position: relative;
    height: 100%;
    margin-bottom: 0.3rem;
}

.fav{
    text-align: center;
    height: 25px;
    width: 25px;
    line-height: 25px;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    font-size: 0.8rem;
    overflow: hidden;
}

.tags{
    position: absolute;
    bottom: 10px;
    font-size: 0.4rem;
}

.disc, .sost{
    padding: 3px;
    font-weight: bold;
    color: white;
}

.disc{
    background-color: rgb(202, 30, 0);
}

.sost{
    background-color: rgb(44, 109, 0);
}

.item-brand{
    font-size: 0.4rem;
    opacity: 0.6;
}

.item-name{
    font-size: 0.5rem;
    text-transform: uppercase;
}

.item-price{
    height: auto;
    font-size: 0;
}
.disc-price, .price{
    font-size: 0.4rem;
}

.disc-price{
    color: red;
    font-weight: 600;
    margin-right: 0.2rem;
}

.price{
    text-decoration: line-through;
    opacity: 0.6;
}

