*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.item-img{
    height: 400px;
}

.main-img{
    display: block;
}

.hover-img{
   display: none;
}

.item:hover .hover-img{
    display: block;
}

.item:hover .main-img{
    display: none;
}